.container {
    display:flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    color:blue;
    text-align: left;
}

.container hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
}
